<% layout('/layouts/boilerplate') %>
    <div class="row mt-3">
        <br>
        <div class="col-8 offset-2">
            <h1>Create a New Listing</h1>
            <form 
            method="POST"
            action="/listings" 
            novalidate class="needs-validation" 
            enctype="multipart/form-data"> 
                <div class="mb-3">
                    <label 
                    for="title" 
                    class="form-label">Title</label>
                    <input 
                    type="text" 
                    name="listing[title]" 
                    class="form-control shadow-none" required>
                    <div class="valid-feedback">Title looks good!</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control shadow-none" required></textarea>
                    <div class="invalid-feedback">give a brief description!</div>
                </div>

                <div class="mb-3 p-2">
                    <label for="Image" class="form-label">Upload Images</label>
                    <input type="file" name="image" class="form-control shadow-none">
                    <div class="valid-feedback">Great!</div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="" class="form-label">Price</label>
                        <input name="listing[price]" placeholder="1200...." class="form-control shadow-none" required>
                        <div class="invalid-feedback">Give Pricing</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="Country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" placeholder="India" class="form-control shadow-none" required>
                        <div class="invalid-feedback">country name should be valid!</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="Location" class="form-label">Location</label>
                    <input type="text" name="listing[location]" placeholder="Mumbai,Delhi,Kolkata..."
                        class="form-control shadow-none" required>
                    <div class="invalid-feedback">Location name should be valid!</div>

                </div>

                <br>
                <button class="btn btn-dark add-btn">Add</button>
                <br>
            </form>
        </div>
    </div>