<% layout('/layouts/boilerplate') %>

<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
</head>
<body>
    <div class="error col-6 offset-3 text-center mt-5 p-5 rounded " style="background-color: #f0d2d2;">
        <h1 class="mb-3">Something went wrong 😢</h1>
        <p class="text-danger"><%= error.message %></p>
        <a href="/"><button class="btn btn-dark">Go back to Home</button></a>
    </div>

</body>
</html>
